venv/
.venv/
__pycache__/
*.py[cod]
*.log
.env
.pytest_cache/
.coverage
htmlcov/
instance/
static/imgs/eventos/*
static/imgs/mural/*
material_TCC/
!material_TCC/
material_TCC/*
!material_TCC/Sistema_de_Membresia_Church_TCC_ABNT.docx
