{% extends "base.html" %}

{% block titulo %}Membros{% endblock %}

{% block conteudo %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3 mb-0">Membros da igreja</h1>
    <a href="{{ url_for('inserir_membro') }}" class="btn btn-primary">Novo Membro</a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered bg-white">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Ministério</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for membro in membros %}
            <tr>
                <td>{{ membro.id }}</td>
                <td>{{ membro.nome }}</td>
                <td>{{ membro.telefone }}</td>
                <td>{{ membro.ministerio }}</td>
                <td>{{ membro.situacao }}</td>

                <td>
                    <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('editar_membro', membro_id=membro.id) }}">Editar</a>
                    <a class="btn btn-sm btn-outline-danger btn-excluir" href="{{ url_for('excluir_membro', membro_id=membro.id) }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


